{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}{% endblock %}
{% block form_action %}{% url 'horizon:project:shares:update_metadata' share.id %}{% endblock %}

{% block modal_id %}update_share_modal{% endblock %}
{% block modal-header %}{% trans "Edit Share Metadata" %}{% endblock %}

{% block modal-body %}
  <div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
  </div>
  <div class="right">
    <h3>{% trans "Metadata" %}:</h3>
      <p>
        {% trans "One line - one action. Empty strings will be ignored." %}<br />
        {% trans "To add metadata use:" %}
        <pre>key=value</pre>
        {% trans "To unset metadata use:" %}
        <pre>key</pre>
        {% trans "All pairs that are in field for left are set for this metadata." %}
      </p>
  </div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Edit Share Metadata" %}" />
  <a href="{% url 'horizon:project:shares:index' %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
